.productContainer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: #f6f6f7;
    padding: 50px 0;
}

.btnPrevent {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.leftIcon {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}